@import url('https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=The+Nautigal:wght@400;700&display=swap');


body {
    font-family: "Epunda Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 10px 9px 20px 10px rgba(0, 0, 0, 0.1);
    .title_container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 20px;
        .logo_img{
            width: 40px;
            height: 40px;
        }
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: red;
}

.risultato {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fafafa;
}

.messaggio {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #fff;
    white-space: pre-line;
    /* Mantiene gli a capo */
}